@import 'normalize';
@import 'columns';
@import 'colors';

body {
	font-family: 'Trebuchet MS';
}

h3 {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 1.25rem;
	color: $near-black;
}

h4 {
	font-family: 'Georgia', serif;
	color: $near-black;
	font-size: 1.15rem;
	font-weight: 500;
	letter-spacing: -0.01rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

h6 {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	list-style: none;
}

hr {
	opacity: 0.5
}

#page {
	max-width: 1000px;
	margin: 0 auto;
}

.header {
	height: 6rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 100%;
	background-color: $near-black;
	color: white;
	font-family: 'Arial', sans-serif;
	text-transform: uppercase;
	font-size: 0.65rem;
  font-weight: lighter;
  letter-spacing: 0.08rem;
  padding-left: 10px;
}

.nav-item {
	p {
		white-space: nowrap;
	}
}

#nav-ws-home {
	background-color: $navy;
	border-left: 1px solid white;
	padding-right: 6px;
	padding-left: 6px;
}

.breadcrumbs {
	display: flex;
	padding-left: 2px;
	padding-bottom: 2px;
	font-family: 'Trebuchet MS';
	font-size: 0.7rem;
	color: $medium-gray;

	li {
		padding: 4px;
	}

	#selected-product {
		color: $near-black;
	}
}

.body-wrapper {
	display: flex;
	flex-direction: column;
}

.product-container {
	padding-bottom: 40px;
	display: flex;
}

.product-image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero {
	max-width: 439px;
}

.image-menu {
	display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  padding-left: 50px;
}

.image-sm-container {
	width: 90px;
	height: 90px;
	padding: 2px;
	border: 2px solid white;
	border-radius: 2px;

	img {
		max-height: 90px;
	}

	&:hover {
		cursor: pointer;
		border: 2px solid black;
	}
}

.product-description-container {
	float: right;
	font-size: 0.8rem;
	color: $dark-gray;
	line-height: 1.15rem;
	padding-right: 20px;

	ul {
		list-style-type: disc;
	}
}

#qty {
	font-size: 1rem;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.add-to-cart {
	max-width: 150px;
	padding-top: 10px;
	padding-bottom: 15px;

	&:hover {
		cursor: pointer;
	}
}

.expand-collapse-container {
	border-top: 1px solid $near-black;
	border-bottom: 1px solid $near-black;
	padding-top: 8px;
	padding-bottom: 8px;
}

.item-container {
	display: flex;
	align-items: center;
	padding-top: 4px;
	padding-bottom: 4px;
	&:hover {
		cursor: pointer;
	}

	p {
		padding-left: 25px;
    margin-bottom: 2px;
    margin-top: 10px;
	}
}

.item-header {
	display: flex;
	justify-content: flex-start;
  align-items: center;

	img {
		width: 14px;
		height: 14px;
		padding-right: 5px;
	}

	h5 {
		font-family: 'Georgia', serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: $near-black;
    font-size: 1rem;
	}
}

.expanded {
	&.collapse {
		visibility: hidden;
		height: 0;
		width: 0;
	}

	&.expand {
		visibility: visible;
		height: 100%;
	}

	h5 {
		padding-left: 5px;
	}
}

.collapsed {
	&.collapse {
		visibility: visible;
		height: 100%;
	}

	&.expand {
		visibility: hidden;
		height: 0;
		width: 0;
	}
}



.footer {
	height: 2rem;
	background-color: $light-gray;
	border-top: 1px solid $near-black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.6rem;
	color: $near-black;
	font-family: 'Trebuchet MS', serif;
}